* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}
input,
textarea,
button {
    font: inherit;
}
:root {
    --header-bg: #10375c;
    --primary-color: #2e80ce;
    --heading-color: #10375c;
}
/* ==============commom================ */
.container {
    width: 1170px;
    max-width: calc(100% -50px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

a:hover{
    opacity: 80%;
}
/* =============Header===================== */
.header {
    min-height: 100hv;
    background: var(--header-bg);
}

.header-top {
    padding-top: 30px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    position: sticky;
    top: -8px;
}
.header__nav {
    margin-left: 318px;
}
.nav__menu {
    display: flex;
    align-items: center;
    gap: 37px;
}
.nav__menu .nav--a {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
    padding: 5px 5px;

}
..nav-active{
    display: flex;
    align-items: center;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
}
.nav-active::before{
    content: "";

}

.header__btn{
    margin-left: 212px;
    display: flex;
    align-items: center;
    gap: 18px ;

}
.btn--login{
    color: #C9D2DA;
text-align: right;
font-size: 1.6rem;
font-weight: 300;
line-height: 1.75;
padding: 0px 5px;
width: 59px;

}
.btn-sign-up{
    color: #FFF;
text-align: center;
font-size: 1.6rem;
font-weight: 400;
line-height: 28px ; 
display: block;
width: 104px;
border-radius: 22px;
padding: 8px 19px;
background-color: #2E80CE;


}

/* =============Header===================== */
